---
const description_min_length = 120
const description_max_length = 160
const title_max_length = 60 - SITE_NAME.length

import { formatCanonicalURL } from '@utilities/page-url'
import Favicon from '@assets/favicon.svg'
const {
	description,
	robots = 'index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1',
	tabTitle
} = Astro.props

const url = formatCanonicalURL(Astro.url.pathname)

// Validate description & length for SEO
if (
	!description ||
	description.length < description_min_length ||
	description.length > description_max_length
) {
	throw new Error(
		`Description is required and must be between ${description_min_length} and ${description_max_length} characters
		\nCurrent length: ${description.length}`
	)
}

// Validate title & length for SEO
if (!tabTitle || tabTitle.length > title_max_length) {
	throw new Error(
		`tabTitle is required & must be less than ${title_max_length} characters
		Current length: ${tabTitle.length}
		${tabTitle}`
	)
}
---

<link rel='canonical' href={url} />
<link rel='icon' type='image/svg+xml' href={Favicon.src} />
<link rel='sitemap' href='/sitemap-index.xml' />
<meta charset='utf-8' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='author' content={AUTHOR} />
<meta name='description' content={description} />
<meta name='generator' content={Astro.generator} />
<meta name='robots' content={robots} />
<meta name='viewport' content='width=device-width' />
<meta property='article:publisher' content={SOCIAL_URL_FACEBOOK} />
<title>{tabTitle} - {SITE_NAME}</title>
